<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #c82128;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ed1b24;
  color: #ffffff;
}

.topnav a.active {
  background-color: #000000;
  color: white;
}

</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="">Home</a>
  <a href="http://127.0.0.1:8000/api">Activity API</a>
  <a href="https://fullthrottlelabs.com/" target="_blank">FullThrottle Labs</a>
  
</div>
<br>
<div>
    <strong>Name</strong> :{{real_name}} <br>
    <strong>Location</strong> : {{tz}}   <br>
    <strong>Start Time</strong> : {{start_activity}} <br>
    <br>

<strong>PROFESSIONAL SUMMARY</strong><br>
Strong decision-maker with more than 2 years in software engineering. Considered an effective coach and mentor and committed to leading exceptionally gifted teams. Looking to work closely with both teams and customers to find the most efficient and beneficial solutions for process improvement.
<br><br>
<br>
<strong>WORK HISTORY</strong><br>
SOFTWARE ENGINEER 	 08/2018 – CURRENT <br>
CGI India | Bengaluru, India <br>
•	As Performance Software Engineer which comes under the application performance management team-Worked effectively with cross-functional design teams to create software solutions that elevated client side experience and significantly improved overall functionality and performance.
<br>
•	My role is to monitor the applications using the monitoring tools like dynatrace, Dynatrace NAM, Server vantage, sitescope, OBR, Hermes with Operational monitoring interface (OMI) tool as a interface. Automation of the monitoring tools for the command center efficiency using Django technology. Automating the sanities for the applications with python and selenium integrated.
<br>
•	Development of webtool for the performance ease to handle the applications to creating the ticket using BSM integrated with the JIRA incident tool, IVR based automated call to notify the application team, tracking of the incidents and the application performance inheritance using the latest technology.Experience in using restful APIs and developing the APIs.
<br>
•	Prepared automation concept and control drawings according to client's specifications.
<br>
•	Using BOT frame work integrated JIRA to fetch, create, update and delete an issue/s.
<br>
•	Have an experience in fetching / creating data in confluence using APIs.
<br>
•	Developed an android app for Companies CSR Activity.
<br>
<br>
<strong>EDUCATION</strong>
B. Tech | Computer and Communication Engineering 	03/2018 <br>
Manipal Institute of Technology(MIT), Manipal <br>
<br><br>
2nd PU | PCMCs 	03/2014<br> 
Mahathma Gandhi Memorial College(MGM), Udupi<br> 
Scored 85.5% in PUC Board Exam.<br>
<br>
<br>
SSLC 	04/2012<br> 
Christian High School, Udupi<br> 
Scored 93.44% in SSLC Exam.<br>
<br><br>
<strong>SKILLS</strong><br>
•	Android App development.
<br>
•	Django Web App Development.
<br>
•	Python Programming.
<br>
•	Automation of the application health check.
<br>
•	BOT framework - JIRA BOT.
<br>
•	API design knowledge.	•	PHP Website Development.
<br>
•	WordPress Website Development.
<br>
•	Automation framework designinig.
<br>
•	Operation Monitoring Infrastructure(OMi)- Experience
<br>
•	Monitoring tool experience in Dynatrace , Dynatrace NAM , DT Managed, Sitescope, Hermes, OBR Tool.
<br>
•	Knowledge Experience in Confluence , JIRA.
<br><br>

<strong>ACADAMIC PROJECTS</strong>
•	4 weeks Summer Internship in ASHRITHA Software Technologies under the guidence of Srinivas U B
<br>
•	3 weeks Training programme in BSNL MANGLORE under the guidence of V.G Naik,AGM BSNLManglore
<br>
•	Project titled "Matrimonial management system on DATABASE",Mrs.Diana Olivia,Dept.ICT,Sep-Dec 2016
<br>
•	Project titled "Movie rating prediction on DATA MINING",MrAkshay MJ.,Dept.ICT,Jan-Mar 2017
<br>
•	Project titled "Calculator in Embedded systems",Mr.Santosh kamath,Dept.ICT,Sep-Dec 2015
<br>
•	Project titled "Handcricket and Space Savage gaming application in Software Design Technology",Mr.Rajesh K,Dept.ICT,Sep-Dec 2016
<br>
•	Project titled "EMI manager Android App",Mrs.Pooja,Dept.ICT,Jan-Mar 2017
<br>
•	Project titled "Book Store WEB App",Mrs.suchetha Kolekar,Dept.ICT,Jan-Mar 2017
<br>
•	Project titled "Ashritha App",Mr.Srinivas U B,Ashritha Software Technologies,Jun-Jul 2017
<br>
•	Project titled "Smart FIshing App", Mrs Chetana Poojari, MIT ,Jan-Apr 2018
<br><br>

</body>
</html>
